<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="sidecontent" CLASS="pb-5">
    <div class="row">
        <div class="col-6"  th:if="${myzyka!=null}" >
            <table class="table">
                <tr th:each="genre:${genres}">
                    <form th:action="@{'/assign-genre'}" method="post">
                        <input type="hidden" name="music_id" th:value="${myzyka.id}" th:if="${myzyka!=null}">
                        <input type="hidden" name="genre_id" th:value="${genre.id}" th:if="${myzyka!=null}">
                    <td th:text="${genre.name+'/'+genre.code}"></td>
                    <td style="width: 10%;">
                        <button class="btn btn-success btn-sm"> >>></button>
                    </td>
                    </form>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <table class="table">
                <tr th:each="genre:${myzyka.genres}">
                    <form th:action="@{'/unassign-genre'}" method="post">
                        <td style="width: 10%;">
                            <button class="btn btn-danger btn-sm"> <<<</button>
                        </td>
                        <input type="hidden" name="music_id" th:value="${myzyka.id}" th:if="${myzyka!=null}">
                        <input type="hidden" name="genre_id" th:value="${genre.id}" th:if="${myzyka!=null}">
                        <td th:text="${genre.name+'/'+genre.code}"></td>
                    </form>
                </tr>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <form action="/save-music" method="post" th:if="${myzyka!=null}">
                <input type="hidden" name="id" th:value="${myzyka.id}">
                <div class="row">
                    <div class="col-12">
                        <label>NAME:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control"
                               name="name" placeholder="Name"
                               th:value="${myzyka.name}"
                               required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>AUTHOR:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <select class="form-select" name="authorModal.id">
                            <option  th:each="author:${authors}"
                                     th:value="${author.id}"
                                     th:selected="${myzyka.authorModal.id==author.id}"
                                     th:text="${author.fullname
                       +'/'+author.nickname}"></option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>DURATION:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="number" class="form-control"
                               name="duration" placeholder="Duration"
                               th:value="${myzyka.duration}"
                               required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success">SAVE MUSIC</button>
                        <button type="button" class="btn btn-danger ms-2"
                                data-bs-toggle="modal" data-bs-target="#deletModal">DELETE MUSIC</button>
                    </div>
                </div>
            </form>
            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade" id="deletModal"
                 data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" th:if="${myzyka!=null}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/delete-music'}" method="post">
                            <input type="hidden" name="id" th:value="${myzyka.getId()}" >
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Delete</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-center"> Are u sure</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                            <button  class="btn btn-danger">YES</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>