<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
       <div layout:fragment="sidecontent">
           <table class=>
               <thead>
               <tr>
                   <th>ID</th>
                   <th>NAME</th>
                   <th>AUTHOR</th>
                   <th>DURATION</th>
                   <th style="width: 10%">DETAILS</th>
               </tr>
               </thead>
               <tbody>
                 <tr th:each="muz : ${muzikalar}"
                     th:class="${muz.duration>=180?'text-primary':'text-secondary'}">
                   <td th:text="${muz.id}"></td>
                   <td th:text="${muz.name}"></td>
                   <td th:text="${muz.authorModal.fullname}"></td>
                   <td th:text="${muz.duration}"></td>
                   <td>
                       <a th:href="@{'/details/'+${muz.id}} " class="btn btn-primary btn-sm">DETAILS </a>
                   </td>
               </tr>
               </tbody>
           </table>
       </div>
</html>