<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="head.html"></head>
  <body>
    <div class="container-fluid">
      <div th:insert="navbar.html">
      </div>
      <div class="container mt-5" >
        <div class="row bg-secondary ">
          <div class="col-12">
            <h4 class="text-center">
              WELCOME MAKS
            </h4>

          </div>
        </div>
      </div>
      <div class="container mt-5" style="min-height: 800px">
        <div class="row">
          <div class="col-3" th:insert="sidebar.html">
          </div>
          <div class="col-9 ">
            <div layout:fragment="sidecontent"></div>
          </div>
        </div>
      </div>
    </div>
    <div th:insert="footer.html">
    </div>
  </body>
</html>